<div class="container mt-4">
  <h1 class="mb-4">New list</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label: "List name" %>
    <%= f.submit "Create list", class: "btn btn-primary" %>
  <% end %>
</div>
